<!DOCTYPE html>
<html>
  <head>
    <title>TvGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag 'search_term', nil, placeholder: 'Search Channel or Show here..' %> <br>
        <%= submit_tag "Search" %> 
      <% end %>
    </div>
  </body>
</html>
